<div class="blog_entry">
  <h2>
    <%= link_to "<strong>#{e.title}</strong>", (blog_entry_path e) %>
  </h2>

  <div class="date">
    <%= e.created_at.strftime("%A, %d %B %Y") %>
  </div>

  <div class="body">
    <%= e.body %>
  </div>

  <% unless e.tag_list.empty? %>
    <%= render :partial => 'tag_list', :locals => {:e => e}  %>
  <% end %>
</div>
<br/>
