<ul>
<% news_archive.each do |year, months_with_entries| %>
  <li><%= year %>
    <ul>
    <% months_with_entries.each do |month, entries| %>
      <li><%= month %>
        <ul>
        <% entries.each do |entry| %>
          <li><%= link_to(entry.title, blog_entry_path(entry)) %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
