<div id="blog-container">
  <ul id="blog-entries">
  <% @blog_entries.each do |e| %>
    <li>
      <%= render :partial => 'blog', :locals => {:e => e} %>
    </li>
  <% end %>
  </ul>

  <div id="blog-sidebar">
    <% cache do %>
      <%= render :partial => 'news_archive', :object => @news_archive %>
    <% end %>
  </div>

  <br class="clearfloat" />
</div>
