<div id="blog-container">

  <% if !@blog_entries.empty? %>
    <ul id="blog-entries">
      <% @blog_entries.each do |e| %>
        <li class="blog_entry">
          <%= render :partial => 'blog', :locals => {:e => e} %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p id="no_entries"><%= t('no_blog_entries') %></p>
  <% end %>

  <% content_for :sidebar do %>
    <div id="blog-sidebar">
      <%= render :partial => 'news_archive', :object => @news_archive %>
    </div>
  <% end %>

  <br class="clearfloat" />
</div>
