<div id="blog-container">
  <ul id="blog-entries">
  <% @blog_entries.each do |e| %>
    <li>
      <%= render :partial => 'blog', :locals => {:e => e} %>
    </li>
  <% end %>
  </ul>

  <div id="blog-sidebar">
    <ul>
    <% @news_archive.each do |year, months_with_entries| %>
      <li><%= year %>
        <ul>
          <% months_with_entries.each do |month, entries| %>
            <li><%= month %>
              <ul>
                <% entries.each do |entry| %>
                  <li><%= entry.title %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>

  <br class="clearfloat" />
</div>
