<div id="blog-container">

  <% if !@blog_entries.empty? %>

    <ul id="blog-entries">
      <% @blog_entries.each do |e| %>
        <li class="blog_entry">
          <%= render :partial => 'blog', :locals => {:e => e} %>
        </li>
      <% end %>
    </ul>

    <% if @blog_entries.respond_to? :total_pages %>
        <%= will_paginate(:page_links => false, :previous_label => "&#171; #{t('newer')}", :next_label => "#{t('older')} &#187;") %>
    <% end %>

  <% else %>
    <p id="no_entries"><%= t('no_blog_entries') %></p>
  <% end %>

  <% content_for :sidebar do %>
    <div id="blog-sidebar">
      <%= render :partial => 'news_archive', :object => @archives %>
    </div>
  <% end %>

  <br class="clearfloat" />
</div>
