body.one-col #content { width: 970px }

#blog-container { width: 850px; margin: 0 auto }
#blog-entries { float: left; width: 630px; list-style: none; margin: 0; padding-bottom: 2em }
#blog-sidebar { float: right; width: 185px}

#news-archive { width: 185px; margin: 0 }

.blog_entry { width: 650px; }
.blog_entry h2 { margin-bottom: -1px }
.blog_entry h2 a { color: #1B3F71; text-decoration: none; line-height: 26px }
.blog_entry .date { color: #caa627; font-weight: bold; margin-bottom: 8px }
.blog_entry p { margin-bottom: 15px }
.blog_entry div.body { margin-bottom: 13px }

.tags { font-size: 11px }

/* admin */
table.entry-list { width: 1000px }
table.entry-list th.date { width: 140px }
table.entry-list th.author { width: 100px }
table.entry-list th.title { width: 310px }
table.entry-list th.body { width: 213px }

input#blog_entry_author, input#blog_entry_title { width: 400px }

/* news archive widget */
#blog-sidebar ul.months { width: 185px; }
#blog-sidebar li { list-style-type: none }
#blog-sidebar li ul.posts { width: 168px; }
#blog-sidebar ul li { font-weight: bold }
#blog-sidebar ul ul li { font-weight: normal }
#blog-sidebar ul ul ul li a { }

#news-archive li.year { width: 206px }
